streamlit
pandas
opencv-python
openai
llama-index
tiktoken 
unstructured
chromadb
langchain 
google-search-results
wikipedia
pydantic 
sqlalchemy
 google-auth 
 google-auth-httplib2 
 google-auth-oauthlib 
 sqlite3 
 google-api-python-client